* {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #bcc5d3;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background-color: #dbe0e9;
    border-radius: 20px;
  }
}

.dark * {
  &::-webkit-scrollbar-thumb {
    background-color: #475569;
  }

  &::-webkit-scrollbar-track {
    background-color: #9ca3af;
  }
}
